/* firefox on Ubuntu bug */
input[type="range"] {
  background: none;
}

#codeOut, #codeIn {
  font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}

#codeOut {
	white-space: pre-wrap;
	overflow-wrap: break-word;
}

span.normal {
  color: black;
}

span.comment {
  color: gray;
  font-style: italic;
}

span.invalid {
  color: white;
  background-color: red;
}

span.octave {
  color: #5c4;
}

span.instruction{
  color: blue;
}

span.note {
  color: brown;
}

span.note-n {
  color: magenta;
}

span.duration {
  color: orange;
}

span.tie {
  color: green;
}
